#outlined-basic {
width: 250px !important;
color:#514D5C !important;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;

}
.btn{
    width: 200px !important;
    font-size: 20px !important;
    color:#514D5C !important;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}
body{
    width: 60%;
    color:#514D5C;
    margin: auto;
}
span{
    color:#edc3c3 !important;
    font-weight: bold;
}
@media screen and (max-width: 900px) {
.img {
    display:none;
}
}